@import 'variables';

.header{
   /*  background-color: rgb(36, 36, 36); */
    padding: 1rem 0 1rem 0;
    height: 10rem;
    border-bottom: 1px solid black;
    
    .barra{
        .logo{
            width: 6rem;
            height: 6rem;
        }
    }
}

.barra .navegacion ul{
    list-style: none;
    display: flex;
}

@media only screen and (max-width: 768PX) {
    .logo{
        display: none;
    }
    .barra .navegacion{
        display: flex;
        text-align: center;
        
    }
    .header .contenedor .barra{
        display: flex;
        justify-content: center;
    }
    .contenedor {
        padding: 0 20px;
    }

    .imagen-principal img, 
    .contenido {
        width: 100%;
        max-width: 100%;
    }
    .barra .navegacion ul{
        list-style: none;
        display: block;
        text-align: center;
    }
}

